<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li>Quantrl</li>
            <li>About</li>
        </ul>
    </header>
    <section>
        <div>
            <form action="" method="post">
                <input type="text" name="bigurl" id="bigurl">
                <button type="submit">Quantrl</button>
            </form>
        </div>
    </section>
    <footer>
        <p>Made with love by karthicbz</p>
    </footer>
</body>
</html>