<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header id="header">
        <ul>
            <li>Quantrl</li>
            <li>About</li>
        </ul>
    </header>
    <section id="section">
        <div id="url-input">
            <form action="" method="post">
                <input type="text" name="bigurl" id="bigurl">
                <button type="submit" id="submit-button">Quantrl</button>
            </form>
        </div>
        <div id="quantrl-section">
            <% if(typeof(quantrlDetails) === 'undefined'){ %>
                <ul id="error-list">
                    <% if(typeof(errors) !== 'undefined'){ %>
                        <% errors.map(error=>{ %>
                            <li><%=error.msg%></li>
                        <% }) %>
                    <% } %>
                </ul>
            <% }else{ %>
                <div id="new-quantrl">
                    <p>Your new quantrl</p>
                    <a href="/<%=quantrlDetails%>">http://localhost:3000/<%= quantrlDetails %></a>
                </div>
            <%}%>
        </div>
    </section>
    <footer id="footer">
        <p>Made with 🤎 by karthicbz</p>
    </footer>
</body>
</html>